<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tabris-plugin-barcode-scanner"
        version="3.1.0">


  <name>Tabris.js Barcode Scanner Plugin</name>
  <description>A barcode scanner widget for Tabris.js</description>
  <author>EclipseSource</author>
  <license>Revised BSD License (3-clause license)</license>
  <repo>https://github.com/eclipsesource/tabris-plugin-barcode-scanner.git</repo>
  <issue>https://github.com/eclipsesource/tabris-plugin-barcode-scanner/issues</issue>

  <!-- cordova -->
  <engines>
    <engine name="cordova" version=">=3.8.0" />
  </engines>

  <js-module src="www/BarcodeScannerView.js" name="barcodeScannerView">
    <clobbers target="esbarcodescanner.BarcodeScannerView" />
  </js-module>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
          android:name="com.eclipsesource.tabris.android.HANDLER.com.eclipsesource.tabris.barcodescanner"
          android:value="com.eclipsesource.tabris.barcodescanner.BarcodeScannerViewHandler" />
      <meta-data
          android:name="com.google.mlkit.vision.DEPENDENCIES"
          android:value="barcode" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>

    <framework src="com.google.android.gms:play-services-mlkit-barcode-scanning:18.1.0" />
    <framework src="androidx.camera:camera-camera2:1.1.0" />
    <framework src="androidx.camera:camera-lifecycle:1.1.0" />
    <framework src="androidx.camera:camera-view:1.1.0" />

    <source-file src="src/android/com/eclipsesource/tabris/barcodescanner/BarcodeScannerViewHandler.kt"
                 target-dir="src/com/eclipsesource/tabris/barcodescanner" />
    <source-file src="src/android/com/eclipsesource/tabris/barcodescanner/BarcodeScannerView.kt"
                 target-dir="src/com/eclipsesource/tabris/barcodescanner" />

  </platform>

  <platform name="ios">

    <config-file target="*TabrisPlugins.plist" parent="classes">
      <array>
        <string>ESBarcodeScanner</string>
      </array>
    </config-file>

    <header-file src="src/ios/ESBarcodeScanner.h" />
    <source-file src="src/ios/ESBarcodeScanner.m" />
    <header-file src="src/ios/ESScannerView.h" />
    <source-file src="src/ios/ESScannerView.m" />
    <header-file src="src/ios/BSCameraResolution.h" />
    <source-file src="src/ios/BSCameraResolution.m" />
    <header-file src="src/ios/AVCaptureDeviceFormat+TabrisBarcodeScanner.h" />
    <source-file src="src/ios/AVCaptureDeviceFormat+TabrisBarcodeScanner.m" />
  </platform>

</plugin>
