<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.eclipsesource.tabris.barcodescanner.example"
        version="3.1.0"
        android-packageName="com.eclipsesource.tabris.barcodescanner.example"
        android-versionCode="1">
  <name>Barcode scanner example for Tabris.js</name>
  <description>Example for the Tabris.js Barcode Scanner plugin.</description>
  <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />

  <plugin name="tabris-plugin-barcode-scanner" spec="https://$GITHUB_TOKEN@github.com/eclipsesource/tabris-plugin-barcode-scanner.git" />

  <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>Barcode scanner requires camera to be able to scan barcodes.</string>
  </edit-config>

  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>

</widget>
