<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.eclipsesource.tabris.barcodescanner.example"
        version="1.0.0"
        android-packageName="com.eclipsesource.tabris.barcodescanner.example"
        android-versionCode="1">
  <name>Tabris.js Barcode Scanner Plugin Example</name>
  <description>Example for the Tabris.js Barcode Scanner plugin.</description>
  <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />

  <plugin name="tabris-plugin-barcode-scanner" spec="../" />

</widget>
